.panel {
  @apply flex items-stretch justify-start flex-wrap -mx-1.5 md:-mx-2;
  width: calc(100% + 12px);
}

@media (min-width: 744px) {
  .panel {
    width: calc(100% + 16px);
  }
}

.tab {
  @apply text-sm leading-tight font-semibold rounded-lg border-none bg-transparent hover:bg-gray-75 text-gray-450 p-2.5 mt-1.5 mb-1.5 mr-1.5 relative outline-none cursor-pointer motion-reduce:transition-none;
  transition: box-shadow 0.2s ease 0s, transform 0.1s ease 0s;
}

.tab:active {
  transform: scale(0.96);
}

.tab:focus-visible {
  @apply border-none bg-gray-75 text-gray-750 motion-reduce:transition-none;
  transition: box-shadow 0.2s ease 0s;
  box-shadow: 0px 0px 0px 2px #222, rgba(255, 255, 255, 0.8) 0px 0px 0px 4px;
}

.selected {
  @apply p-2.5 -ml-2.5 text-gray-750 cursor-default motion-reduce:transition-none;
  transition: box-shadow 0.2s ease 0s, transform 0.1s ease 0s;
}

.selected::after {
  @apply absolute left-2.5 -bottom-1.5 bg-gray-750 h-0.5;
  content: '';
  width: calc(100% - 20px);
}
