/* Aside */
.link {
  @apply text-xs md:text-sm md:leading-tight inline-block font-semibold underline whitespace-nowrap;
}

.link:hover {
  @apply text-gray-350 opacity-80;
}

.link:focus-visible {
  @apply motion-reduce:transition-none;
  transition: box-shadow 0.2s ease;
  box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 4px #222;
}

/* Hero Section */
.hero {
  @apply relative w-full  h-full flex flex-col justify-end bg-black pt-10;
  min-height: calc(4 / 3 * 100vw);
}

@media (min-width: 744px) {
  .hero {
    @apply text-center pt-44;
    min-height: 550px;
  }
}

@media (min-width: 950px) {
  .hero {
    @apply pt-28;
  }
}

.heroContainer {
  @apply w-full max-w-screen-2xl relative;
  flex: 1 1 50%;
}

.heroHeading {
  @apply flex flex-grow-0 flex-shrink-0;
  padding: 27px 0 35px 34px;
}

@media (min-width: 744px) {
  .heroHeading {
    padding: 27px 0 32px;
  }
}

/* Explore Nearby */
.gridContainer {
  @apply overflow-x-auto grid gap-3 grid-flow-col;
  grid-template-rows: repeat(2, auto);
  grid-template-columns:
    repeat(3, calc(100% - 108px))
    100%;
  scroll-snap-type: x mandatory;
}

@media (min-width: 744px) {
  .gridContainer {
    @apply pl-0 gap-4;
    scroll-padding: 0px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1128px) {
  .gridContainer {
    @apply grid-flow-row;
    grid-template-columns: repeat(4, 1fr);
  }
}

.gridItem {
  @apply overflow-hidden h-full;
  scroll-snap-align: start;
}

@media (min-width: 744px) {
  .gridItem:nth-last-child(-n + 2) {
    @apply hidden;
  }
}

@media (min-width: 1128px) {
  .gridItem:nth-last-child(-n + 2) {
    @apply block;
  }
}

.image {
  @apply relative bg-gray-250 overflow-hidden rounded-xl mr-3 md:mr-4;
  flex: 0 0 72px;
  height: 72px;
}

@media (min-width: 1128px) {
  .image {
    @apply h-16 rounded-lg;
    flex: 0 0 64px;
  }
}

.gridText {
  @apply truncate pb-0.5;
  flex: 0 1 100%;
}

.gridText:nth-child(n) > b {
  @apply font-semibold;
}

/* Live Anywhere */
.cardTitle {
  @apply text-lg truncate whitespace-pre-line text-gray-750 font-semibold;
  line-height: 22px;
  max-height: 44px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Become a Host */
.imageContainer {
  @apply bg-gray-650 border-none block overflow-hidden relative text-left no-underline w-full h-auto rounded-2xl;
}

@media (max-width: 743px) {
  .imageContainer {
    min-width: 220px;
  }
}

@media (min-width: 744px) {
  .imageContainer {
    height: 360px;
  }
}

@media (min-width: 1128px) {
  .imageContainer {
    height: 400px;
  }
}

.imageText {
  @apply absolute top-0 flex flex-col items-center text-center w-full pt-8 px-8;
}

@media (max-width: 743px) {
  .imageText {
    @apply absolute -inset-y-px inset-x-0;
  }
}

@media (min-width: 744px) {
  .imageText {
    @apply text-left items-start justify-center h-full pt-0 px-10;
    width: 360px;
  }
}

@media (min-width: 1128px) {
  .imageText {
    @apply px-20;
    width: 544px;
  }
}
